.title-logo{
  height: 150px;
  width: 150px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  position: absolute;
  justify-content: center;
  align-content: center;
  right: 90%;

}
.title-logo img{
  height: 130px;
  width: 130px;
}
.title-logo p{
  position: absolute;
  left: 20px;
  bottom: 15px;
}
.title-logo p span{
  color: #07539D;
}